
<ngx-monaco-editor #editor [options]="{automaticLayout:false,minimap:{enabled:false},lineNumbers: 'off',contextmenu: true,wordBasedSuggestions:'currentDocument', wordWrap:'on'}"
                   [language]="'javascript'"  [(value)]="code"
                   [theme]="'vs'"
                   (editorInitialized)="editorInitialized($event)"
                   (focus)="onFocus()"
                   (blur)="onBlur()"
                   style="height: 120px"
></ngx-monaco-editor>



<button type="button" (click)="editor.focus()">Set focus in the editor</button>

<div style="margin: 20px">
  {{ code() }}
</div>

Events:
<ul>
  @for (evt of events; track evt) {
    <li>
       {{evt}}
    </li>
  }
</ul>
